@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --white: #03e9f4;
  --color-yellow: "#facf5a";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.starships-list {
  width: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgb(20, 38, 31) 76%, rgb(24, 47, 42) 100%);
}
.starships-list__saber {
  position: relative;
  top: 30%;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  background: white;
}

.writer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}

.typewriter {
  display: inline-block;
}
.typewriter__text {
  color: #39db3c;
  background-image: -webkit-linear-gradient(0deg, #39db3c 14%, #56def0 59%, #fff06b 86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(41), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--white);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.36em;
  --top-offset: 26.29vh;
  --fall-duration: 10.779s;
  --fall-delay: 7.464s;
}
.star:nth-child(2) {
  --star-tail-length: 6.27em;
  --top-offset: 21.27vh;
  --fall-duration: 6.183s;
  --fall-delay: 9.676s;
}
.star:nth-child(3) {
  --star-tail-length: 6.08em;
  --top-offset: 55.7vh;
  --fall-duration: 8.294s;
  --fall-delay: 3.976s;
}
.star:nth-child(4) {
  --star-tail-length: 5.23em;
  --top-offset: 97.85vh;
  --fall-duration: 7.824s;
  --fall-delay: 4.069s;
}
.star:nth-child(5) {
  --star-tail-length: 6.22em;
  --top-offset: 27.5vh;
  --fall-duration: 6.324s;
  --fall-delay: 2.226s;
}
.star:nth-child(6) {
  --star-tail-length: 5.61em;
  --top-offset: 94.03vh;
  --fall-duration: 8.698s;
  --fall-delay: 9.43s;
}
.star:nth-child(7) {
  --star-tail-length: 5.37em;
  --top-offset: 6.43vh;
  --fall-duration: 9.071s;
  --fall-delay: 4.772s;
}
.star:nth-child(8) {
  --star-tail-length: 5.29em;
  --top-offset: 17.14vh;
  --fall-duration: 11.277s;
  --fall-delay: 2.64s;
}
.star:nth-child(9) {
  --star-tail-length: 7.4em;
  --top-offset: 54.04vh;
  --fall-duration: 11.978s;
  --fall-delay: 9.109s;
}
.star:nth-child(10) {
  --star-tail-length: 6.93em;
  --top-offset: 81.59vh;
  --fall-duration: 11.473s;
  --fall-delay: 2.485s;
}
.star:nth-child(11) {
  --star-tail-length: 6.45em;
  --top-offset: 3.17vh;
  --fall-duration: 11.7s;
  --fall-delay: 0.929s;
}
.star:nth-child(12) {
  --star-tail-length: 5.67em;
  --top-offset: 78.69vh;
  --fall-duration: 11.439s;
  --fall-delay: 2.651s;
}
.star:nth-child(13) {
  --star-tail-length: 6.66em;
  --top-offset: 83.18vh;
  --fall-duration: 11.68s;
  --fall-delay: 3.505s;
}
.star:nth-child(14) {
  --star-tail-length: 7.27em;
  --top-offset: 50.82vh;
  --fall-duration: 6.766s;
  --fall-delay: 1.27s;
}
.star:nth-child(15) {
  --star-tail-length: 5.82em;
  --top-offset: 81.29vh;
  --fall-duration: 8.291s;
  --fall-delay: 5.059s;
}
.star:nth-child(16) {
  --star-tail-length: 5.28em;
  --top-offset: 38.61vh;
  --fall-duration: 11.123s;
  --fall-delay: 9.964s;
}
.star:nth-child(17) {
  --star-tail-length: 6.13em;
  --top-offset: 80.07vh;
  --fall-duration: 9.728s;
  --fall-delay: 2.728s;
}
.star:nth-child(18) {
  --star-tail-length: 5.89em;
  --top-offset: 60.65vh;
  --fall-duration: 7.672s;
  --fall-delay: 7.25s;
}
.star:nth-child(19) {
  --star-tail-length: 6.24em;
  --top-offset: 98.9vh;
  --fall-duration: 6.369s;
  --fall-delay: 8.692s;
}
.star:nth-child(20) {
  --star-tail-length: 5.36em;
  --top-offset: 40.51vh;
  --fall-duration: 10.719s;
  --fall-delay: 2.529s;
}
.star:nth-child(21) {
  --star-tail-length: 5.58em;
  --top-offset: 60.61vh;
  --fall-duration: 8.159s;
  --fall-delay: 5.705s;
}
.star:nth-child(22) {
  --star-tail-length: 6.05em;
  --top-offset: 38.73vh;
  --fall-duration: 6.93s;
  --fall-delay: 9.713s;
}
.star:nth-child(23) {
  --star-tail-length: 5.94em;
  --top-offset: 58.53vh;
  --fall-duration: 7.812s;
  --fall-delay: 3.932s;
}
.star:nth-child(24) {
  --star-tail-length: 7.11em;
  --top-offset: 30.97vh;
  --fall-duration: 10.666s;
  --fall-delay: 8.912s;
}
.star:nth-child(25) {
  --star-tail-length: 6.49em;
  --top-offset: 36.05vh;
  --fall-duration: 9.486s;
  --fall-delay: 9.066s;
}
.star:nth-child(26) {
  --star-tail-length: 6.99em;
  --top-offset: 42.86vh;
  --fall-duration: 9.054s;
  --fall-delay: 0.607s;
}
.star:nth-child(27) {
  --star-tail-length: 7.44em;
  --top-offset: 17.11vh;
  --fall-duration: 9.232s;
  --fall-delay: 4.153s;
}
.star:nth-child(28) {
  --star-tail-length: 6.68em;
  --top-offset: 89.06vh;
  --fall-duration: 8.912s;
  --fall-delay: 4.574s;
}
.star:nth-child(29) {
  --star-tail-length: 7.04em;
  --top-offset: 47.88vh;
  --fall-duration: 6.146s;
  --fall-delay: 9.386s;
}
.star:nth-child(30) {
  --star-tail-length: 5.52em;
  --top-offset: 57.87vh;
  --fall-duration: 8.912s;
  --fall-delay: 6.696s;
}
.star:nth-child(31) {
  --star-tail-length: 7.29em;
  --top-offset: 95.36vh;
  --fall-duration: 8.765s;
  --fall-delay: 4.69s;
}
.star:nth-child(32) {
  --star-tail-length: 7.19em;
  --top-offset: 93.51vh;
  --fall-duration: 7.984s;
  --fall-delay: 5.869s;
}
.star:nth-child(33) {
  --star-tail-length: 6.87em;
  --top-offset: 54.71vh;
  --fall-duration: 10.516s;
  --fall-delay: 5.658s;
}
.star:nth-child(34) {
  --star-tail-length: 5.3em;
  --top-offset: 5.4vh;
  --fall-duration: 7.494s;
  --fall-delay: 8.923s;
}
.star:nth-child(35) {
  --star-tail-length: 6.85em;
  --top-offset: 78.2vh;
  --fall-duration: 11.268s;
  --fall-delay: 2.895s;
}
.star:nth-child(36) {
  --star-tail-length: 5.83em;
  --top-offset: 67.46vh;
  --fall-duration: 8.292s;
  --fall-delay: 9.289s;
}
.star:nth-child(37) {
  --star-tail-length: 5.96em;
  --top-offset: 49.84vh;
  --fall-duration: 7.061s;
  --fall-delay: 7.116s;
}
.star:nth-child(38) {
  --star-tail-length: 6.5em;
  --top-offset: 85.96vh;
  --fall-duration: 8.601s;
  --fall-delay: 2.754s;
}
.star:nth-child(39) {
  --star-tail-length: 6.33em;
  --top-offset: 77.83vh;
  --fall-duration: 11.896s;
  --fall-delay: 7.955s;
}
.star:nth-child(40) {
  --star-tail-length: 6.77em;
  --top-offset: 92.92vh;
  --fall-duration: 8.327s;
  --fall-delay: 0.403s;
}
.star:nth-child(41) {
  --star-tail-length: 5.01em;
  --top-offset: 89.32vh;
  --fall-duration: 7.859s;
  --fall-delay: 5.704s;
}
.star:nth-child(42) {
  --star-tail-length: 5.65em;
  --top-offset: 80.3vh;
  --fall-duration: 6.53s;
  --fall-delay: 6.622s;
}
.star:nth-child(43) {
  --star-tail-length: 7.1em;
  --top-offset: 22.61vh;
  --fall-duration: 10.883s;
  --fall-delay: 3.06s;
}
.star:nth-child(44) {
  --star-tail-length: 5.76em;
  --top-offset: 44.69vh;
  --fall-duration: 9.837s;
  --fall-delay: 0.193s;
}
.star:nth-child(45) {
  --star-tail-length: 5.45em;
  --top-offset: 43.16vh;
  --fall-duration: 10.817s;
  --fall-delay: 2.493s;
}
.star:nth-child(46) {
  --star-tail-length: 6.06em;
  --top-offset: 41.31vh;
  --fall-duration: 11.267s;
  --fall-delay: 8.874s;
}
.star:nth-child(47) {
  --star-tail-length: 6.57em;
  --top-offset: 46.89vh;
  --fall-duration: 8.941s;
  --fall-delay: 4.842s;
}
.star:nth-child(48) {
  --star-tail-length: 7.14em;
  --top-offset: 0.47vh;
  --fall-duration: 6.39s;
  --fall-delay: 3.935s;
}
.star:nth-child(49) {
  --star-tail-length: 6.09em;
  --top-offset: 9.03vh;
  --fall-duration: 7.571s;
  --fall-delay: 2.789s;
}
.star:nth-child(50) {
  --star-tail-length: 5.35em;
  --top-offset: 6.48vh;
  --fall-duration: 11.589s;
  --fall-delay: 4.242s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */