:root {
  --white: #03e9f4;
  --color-yellow: "#facf5a"
}
*{
  box-sizing: border-box;
}
.layout {
  width: 100%;
}
.starships-list {
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(20,38,31,1) 76%, rgba(24,47,42,1) 100%);

  &__saber {
    position: relative;
    top: 30%;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
    background: white;
  }
}

.writer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.typewriter {
  display: inline-block;

  &__text {
    color: #39db3c;
    background-image: -webkit-linear-gradient(
      0deg,
      #39db3c 14%,
      #56def0 59%,
      #fff06b 86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(41), cursor 0.4s step-end infinite alternate;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
